{% extends 'layouts/layout.html' %}

{% block content %}
    <!-- About Start -->
  {% load static %}
  {{register_form.errors}}
    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><a href="{%url 'Asistencia' %}">Asistencia / </a></span> Agregar encuentro</h4>
        <div class="authentication-inner">
          <!-- Register Card -->
          <div class="card">
            <div class="card-body">
              
              <!-- /Logo -->
              <h4 class="mb-2">Bienvenido al registro de encuentros 🚀</h4>
              <p class="mb-4">Esta es tu cedula: {{usuario}}, si no es así, recarga la página, si el problema persiste comunicate con el equipo de Base de datos </p>

              <form class="mb-3" action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="username" class="form-label">Nombre de la clase</label>
                  {{register_form.nombre}}
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Fecha de desarrollo de la clase</label>
                  {{register_form.Fecha}}
                </div>
                
                
                <button class="btn btn-primary d-grid w-100">Guardar</button>
              </form>

             
            </div>
          </div>
          <!-- Register Card -->
        </div>
      </div>
    </div>

    <!-- / Content -->

{% endblock %}